body {
    font-family: "Nunito Sans";
    font-size: 16px; 
}
h1, h2 {
    font-family: "Raleway";
    font-weight: 300;
}
h1 {
    font-size: 5.0rem;
    margin-top: 1rem;
    margin-bottom: 0rem;    
}
h2 {
    font-size: 2.5rem;

}
.container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
}
header {
   background-image: url(../images/paul-gilmore-145802-unsplash.jpg);
   background-size: cover;
   background-position: center; 
   padding-top: 1rem;
   padding-bottom: 5.0rem;
   color: white;
}
.motto {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 0px;
}
.menu {
    background-color: #F0F0F0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: auto;
    margin-bottom: 1.0rem;
}
main {
    background-color: #E0E0E0;
    line-height: 1.5;
}
img {
    float: right; 
    max-width: 300px;
 }
footer {
    background-color:#3E1305;
    color: white;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}
svg {
    max-width: 1.8rem;
    fill: white;
    text-decoration: none;
}
svg:hover {
    background-color: #D0D0D0;
    transition: background-color .5s;
}